@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

.landing-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow:hidden 
}

.landing-content__image-container{
    
    overflow: hidden;
    height: 100vh;
    width: 40vw;
}

.landing-image{
    height: 100vh;
    position: relative;
    right: 10vw;
    top: 10vh;
}


