@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.hero{
    margin-left: 20vw;
}

.hero__title{
    color: white;
    margin: 0;
    font-size: 8vw;
    line-height: 100%;
    letter-spacing: 3px;
    font-family: 'Anton', sans-serif;
}

.hero__text{
    width: 40vw;
    color: white;
    font-size: 2vw;
    line-height: 5vh;
    letter-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
}

.hero__button {
    color: black;
    margin: 10px;
    width: 20vw;
    padding: 12px 12px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    cursor: pointer;
    border: 0 none;
    border-radius: 36px;
    box-shadow: 2px 5px 10px var(#353866);
    
    &:hover {
        transition: all 150ms linear;
    
        opacity: .85;
    }
}


@media only screen and (max-width: 768px) {
    .hero{
        margin-left: 5vw;
    }
    .hero__title{
        font-size: 40px;
    }
    
    .hero__text{
        width: 40vw;
        color: white;
        font-size: 10px;
        line-height: 2vh;
        letter-spacing: 3px;
        font-family: 'Quicksand', sans-serif;
    }
    
    .hero__button {
        color: black;
        margin: 10px;
        width: 30vw;
        padding: 12px 12px;
        font-family: 'Quicksand', sans-serif;
        font-size: 10px;
        cursor: pointer;
        border: 0 none;
        border-radius: 36px;
        box-shadow: 2px 5px 10px var(#353866);
        
        &:hover {
            transition: all 150ms linear;
        
            opacity: .85;
        }
    }
}
