@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');

.characters-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

select {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: white;
    text-align-last:center;
    width: 20vw;
    max-width: 100%; 
    box-sizing: border-box;
    margin-left: 1vw;
    margin: 1vw;
    border: 5px solid black;
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: black;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
   }

   select::-ms-expand {
    display: none;
   }
   
   select:hover {
    border-color: #888;
   }
   
   select:focus {
    border-color: black;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: white; 
    outline: none;
   }
   select option {
    font-weight:normal;
   }

   
@media only screen and (max-width: 768px) {
    select {
        width: 30vw;
    }
}