.items-page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 90vh;
    -ms-overflow-style: none;
    scrollbar-width: none;  
    overflow: scroll;
    margin-top: 0;
    margin-bottom: 0;
}

.items-page::-webkit-scrollbar{
    display: none;
}