@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

.landing-content{
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
}

.landing-content__image-container{
    overflow: hidden;
    height: 90vh;
    width: 40vw;
}

.landing-image{
    height: 100vh;
    position: relative;
    right: 20vh;
    top: 10vh;
}

@media only screen and (max-width: 768px) {
    .landing-image{
        height: 100vh;
        position: relative;
        right: 20vh;
        top: 10vh;
    }

    .landing-content__image-container{
        height: 90vh;
        width: 100vw;
    }
}

