.card {
    margin: 30px;
    width: 20vw;
    height: 400px;
    border-radius: 40px;
    padding: 20px;
    border: 1px solid #0ff;
    background: rgba(0, 34, 34, 0.5);
}

.card__header {
    justify-content: space-between;
    display: flex;
}

.card__split {
    display: flex;
    justify-content: space-between;
}

.card__list {
    display: flex;
}

.card__toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

p, h3, li{
    font-size: 1em;
    list-style: none;
    font-family: monospace;
    color: #0ff;
}

h2{
    text-align: center;
}

h2{
    font-size: 2.1em;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 70vw
    }

    p, h3, li{
        font-size: 1.1em;
        list-style: none;
        font-family: monospace;
        color: #0ff;
    }
}

